<!--
<div style="float:right; margin:8px; text-align:center">
  <a href="http://globetrotter.berkeley.edu/people2/Chomsky/chomsky-con0.html"><img
    src="http://globetrotter.berkeley.edu/people2/Chomsky/images/Chomsky3.jpg"
	  title="Noam Chomsky" width=106></a>
	    <bR>Noam Chomsky
		</div>



<figure class="center" style="float:right; margin:8px; text-align:center">
	<img src="{{ include.url }}" alt="{{ include.description }}" width="{{ include.wide  }}"/>
	<figcaption>"{{ include.description }}"</figcaption>
</figure>
-->

<figure class="center" style="float:right; margin:8px; text-align:center">
	<a href="{{ include.url }}">
		<img src="{{ include.url }}" alt="{{ include.description }}" width="{{ include.wide  }}" title="{{ include.description  }}"/>
	</a>
	<bR>"{{ include.description }}"
</figure>


